# API & HTTP
requests==2.31.0
python-dotenv==1.0.0

# Storage
duckdb==0.10.0

# Transformation
dbt-core==1.7.0
dbt-duckdb==1.7.0

# Quality
great-expectations==0.18.0

# Airflow (installed separately via Docker)
# apache-airflow==2.8.0

# Utils
pandas==2.2.0
loguru==0.7.2
